<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <!-- Directory Listing -->
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <!--Custom Error Page: Security Misconfiguration Demo1 fix:-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx" />
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="true" />
    <compilation debug="false" targetFramework="4.5" />
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    <trace enabled="false" localOnly="true" />
    <sessionState cookieless="UseCookies" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=ASPVulnerableLab;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\AVL.mdf" />
  </connectionStrings>
</configuration>